@page "/addcountry"

<div class="container-fluid d-flex flex-column align-items-center">
    <h3 class="mt-2">Kategori e re</h3>

    <div class="alert @MessageClass" role="alert">@Message</div>

    <EditForm Model="@CountryViewModel" OnValidSubmit="@HandleValidSubmit">

        <DataAnnotationsValidator />
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <label for="name" class="col-sm-6 form-label">Emri shtetit:</label>
            <div class="col-sm-8">
                <InputText id="name" class="form-control" @bind-Value="@CountryViewModel.Name" placeholder="Emri shtetit"></InputText>
                <ValidationMessage For="@(() => CountryViewModel.Name)" />
            </div>
        </div>

        <button type="submit" class="submit-button mt-3 btn btn-primary">Ruaj</button>
    </EditForm>
</div>