@page "/productoverview"
@using StockManagement.App.ViewModels;

<div class="container-fluid d-flex flex-column align-items-center">
    <h3 class="mt-2">Produktet</h3>
    <br />
    <AuthorizeView>
        <Authorized>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ExportProducts">
                <MudIcon Icon="@Icons.Material.Filled.ImportExport" Color="Color.Default" Title="Export" />
                Eksporto produktet
            </MudButton>
            <br />
            <MudLink Href="/addproduct" Underline="Underline.Always" Class="btn">Shto Produkt</MudLink>
            <br />
            @if (Products.Count() == 0)
            {
                <p><em>Loading...</em></p>
                <MudProgressCircular Color="Color.Success" Indeterminate="true" />
            }
            else
            {
                <MudTable Items="@Products" Hover="true" SortLabel="Sort By">
                    <HeaderContent>
                        <MudTh><MudTableSortLabel SortBy="new Func<ProductListViewModel, object>(x=>x.ProductId)">Nr</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<ProductListViewModel, object>(x=>x.Name)">Emri</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel Enabled="@enabled" SortBy="new Func<ProductListViewModel, object>(x=>x.SellingPrice)">Cmimi shitjes</MudTableSortLabel></MudTh>
                        <MudTh>Action</MudTh>
                    </HeaderContent>
                    <RowTemplate Context="item">
                        <MudTd DataLabel="Nr">@item.ProductId</MudTd>
                        <MudTd DataLabel="Name">@item.Name</MudTd>
                        <MudTd DataLabel="SellingPrice">@item.SellingPrice</MudTd>
                        <MudTd DataLabel="Action">
                            <a href="@($"productdetails/{@item.ProductId}")">Detajet</a>
                            <br />
                            <a href="@($"editproduct/{@item.ProductId}")">Edito</a>
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new int[]{50, 100}" />
                    </PagerContent>
                </MudTable>
            }
        </Authorized>


    <NotAuthorized>
    @if (Products.Count() == 0)
    {
        <p><em>Loading...</em></p>
        <MudProgressCircular Color="Color.Success" Indeterminate="true" />
    }
    else
    {
        <MudTable Items="@Products" Hover="true" SortLabel="Sort By">
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<ProductListViewModel, object>(x=>x.ProductId)">Nr</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<ProductListViewModel, object>(x=>x.Name)">Emri</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel Enabled="@enabled" SortBy="new Func<ProductListViewModel, object>(x=>x.SellingPrice)">Cmimi shitjes</MudTableSortLabel></MudTh>
                <MudTh>Action</MudTh>
            </HeaderContent>
            <RowTemplate Context="item" >
                        <MudTd DataLabel="Nr">@item.ProductId</MudTd>
                <MudTd DataLabel="Name">@item.Name</MudTd>
                        <MudTd DataLabel="SellingPrice">@item.SellingPrice</MudTd>
                        <MudTd DataLabel="Action"><a href="@($"productdetails/{@item.ProductId}")">Detajet</a></MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[]{50, 100}" />
            </PagerContent>
        </MudTable>
    }
        </NotAuthorized>

    </AuthorizeView>

</div>








